
@font-face {
  font-family: monotype-corsiva;
  src: url('../fonts/monotype-corsiva.TTF');
}

/*@font-face {
  font-family: Roboto;
  src: local(Roboto), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Roboto-Bold;
  src: local(Roboto), url(../fonts/Roboto-Bold.ttf) format('truetype');
}*/

html,body {
  height: 100%;
  font-family: monotype-corsiva, 'Handlee',Roboto, Calibri, "Segoe UI";
}

::selection {
    background: #000;
    color: #fff;
}

:root {
  --black: #333333;
  --black-40: rgba(0, 0, 0, 0.4);
  --jade-green: #27ad6c;
  --warm-grey: #9b9b9b;
  --dark-sage: #406b55;
  --charcoal: #0f1110;
  --green-apple: #70c919;
  --warning: #ffc107;
  --danger: #dc3545;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  /*height: 500vh;*/
  height: auto;
  display: -ms-flexbox;
  /*display: flex;*/
  -ms-flex-align: center;
  /*align-items: center;*/
  background-color: #f5f5f5;
  /*text-align: center;*/
}




/*for navbar*/

#navbarTop {
  background: rgba(15, 17, 16, 0.1);
  z-index: 1030;
}

#topContainer {
  height: auto;
}

#topContainer, article, aside {
  margin: 0;
  padding: 0;
}

@media (min-width: 0) {
  #navbarTop {
    margin-top: 0;
    padding: 0px 12px;
  }
}

@media (min-width: 768px) {
  #navbarTop {
    /*margin-top: 51px;*/
    padding: 0px 30px;

  }
}


.rightNav {
  z-index: 1030;
}

.rightNav .nav-item {
  margin: 0 20px 0 20px;
  padding: 0px;
}


/*    .rightNav > div:nth-child(1)  {
  margin-left: 0;
}

.rightNav > div:nth-child(5)  {
  margin-right: 0;
}*/

/*.rightNav .nav-item .nav-link {
  font-family: Roboto, Calibri;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 16px;
  padding: 0px;
  color: #fff;
  opacity: 0.7;
}*/

.dropdown-toggle.searchFoodie::after {
  display: none;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.nav-item.dropdown.show {
  text-align: center;
}

.nav-item.dropdown.show > ic_search {
  opacity: 1;
}

#search-recipe-direct {     /* to resolve margin for insert recipe page */
  margin:0;
}


.dropdown-menu .form-inline.dropdown-item {
  padding: 0px;
}

/*@media (max-width: 768px) {
  .nav-item {
    background-color: rgba(200, 100, 200, 0.8);
    position: sticky;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 10px;
  }
}*/

#navbarFoodie.show {
  background: rgba(15, 17, 16, 0.5);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  /*color: #ffffff99;*/
  /*transition: background 1s ease-in-out;*/

}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  padding-bottom: 6px;  /* initial: 8px */
  border-bottom: 2px solid var(--green-apple);
  border-bottom: 2px solid var(--teal);
  border-bottom: 2px solid #ffc107;
  background: #0002; 
  /*transition: background 0.5s ease-in-out;*/
}

#navbarFoodie > div > a.nav-item.active.nav-link {
  opacity: 1;
  /*color: green;*/
  /*color: var(--green-apple);*/
  /*color: #28a745;*/
  color: #2f3;
}

a.dropdown-toggle::after, [list]::-webkit-calendar-picker-indicator {
  display: none;
}

li a:hover {
  text-decoration: none;
}


/*for login form*/
[placeholder]::-webkit-input-placeholder {
  transition: 2s;
  /*color: rgba(0,0,100,0.5);*/
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: transform 3s 0.4s ease;
  margin: 0;
  transform: translateX(120%);
  opacity: 1;
}

a {
  cursor: pointer;
}

#signform-div {
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  z-index: 100;
  vertical-align: middle;
  display: flex;
}

#signform-div a:hover {
  text-decoration: none;
}

.form-signin {
  position: relative;
  width: 350px;
  max-width: 100%;
  padding: 15px;
  margin: auto;
  background-color: rgba(200,200,200,0.7);
  text-align: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#countrycode.dropdown-toggle::after {
  display: none;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.recipe-card {
  cursor: default;
}

.recipe-card img, .recipe-card .heading {
  cursor: pointer;
  border-radius: 3px;
}

.recipe-card img:hover {
  transform: translateZ(1.2%);
}

.section-post {
  border: solid #f8f9fa 2px;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: inset -1px -1px 0px 0px #0003, inset 1px 1px 3px 0px #0003;
}

.foodie-post-image, .user-profile-image {
  width: 100%;
  min-height: 140px;
}

.user-profile-image img{
  max-width: 310px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

/* .search-result > div, .myrecipes-post > div {
  border: solid #0003 3px;
  border-radius: 5px;
}*/
